[defaults]
inventory = inventory/production/hosts.yml
host_key_checking = False
remote_user = mario
ask_vault_pass = True
vault_password_file = vault_pass.txt
retry_files_enabled = False
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_cache
fact_caching_timeout = 3600
stdout_callback = yaml
callback_whitelist = profile_tasks
timeout = 60
forks = 10

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-%%h-%%p-%%r